*{
    margin: 0;
    padding: 0;
}

/*media query mobile*/
@media only screen and (max-width: 500px) {
    .container-carousel {
        display: none;
    }
}

/*media query desktop*/
@media only screen and (min-width: 961px) {

}

.H1{
    display: flex;
    align-items: baseline;
    margin: 1cap;
    padding: 1cap;
    display: block;
    
}

nav{
    width: 100%;
}

.navbar-text {
    padding: 1cap;
    font-size: large;
    text-decoration: none;
    text-align: center;
}

h2 {
    padding: 30px;
    font-size: 50px;
    text-align: center;
}


body {
    background-color: rgb(255, 215, 105);
    border: 2px;
}



/* Carrusel Index*/
.container-carousel {
    margin: 1cap;
    border: 2px solid black;
}

.d-block {
    width: 500px;
    height: 500px;
}

.container-grid {
    display: flex;
    flex-wrap: wrap;
}

/*Imagenes del Grid (Index)*/
.imagen-index {
    border: 2px solid black;
    display: flex;

    height:300px;
    width: 300px;
}

.row-grid{
    padding: 10px;
    margin: 10px;
}

.area {
    text-align:left;
    font-size: 40px;
}

footer {
    text-align: center;
    background-color: goldenrod;
    position: relative;
    bottom: 0;

}



/*Links de Contactos*/
#links {
    padding: 30px;
}

.row-links{
    display:flex;
    flex-wrap: wrap;
    margin: 1cap;
    padding: 2cap;
    text-align: center;
}

.consulta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario-caja{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Grilla Pagina Contactos*/
#grilla-contactos{
    display:grid;
    grid-template-areas:
    "nav"
    "h1"
    "links"
    "consulta"
    "formulario"
    "footer";
}

nav{
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
}

#links{
    grid-area: links;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

#consulta{
    grid-area: consulta;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#formulario{
    grid-area: formulario;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#h1-contactos{
    grid-area: h1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Fin Grilla Contactos*/